{{ define "main" }}
{{ .Content }}

<h1 style= "text-align: center; font-size: 175%; font-family: 'Poppins', sans-serif;">{{ with .GetPage "about.md" }}{{ .Title }}{{ end }}</h1>
    <section class= "selfie">
        <img src=" /profile.jpg">
    </section>
    <body>{{ with .GetPage "about.md" }}{{ .Content }}{{ end }}</body>
<hr>
<section class= "project-list">
  <h1 style= "text-align: center; font-size: 175%; font-family: 'Poppins', sans-serif;">Projects</h1>
    {{ range (where .Site.RegularPages "Type" "in" "projects").ByDate.Reverse }}
        <div class= "project-container">
        <section class= "project-images">
            <div class="box">
                <img src="{{.Params.image1}}">
              </div>
              <div class="box">
                <img src="{{.Params.image2}}">
              </div>
              <div class="box">
                <img src="{{.Params.image3}}">
              </div>
              <div class="box">
                <img src="{{.Params.image4}}">
              </div>
        </section>
        
        <section class= "project">
          <h2 style= "text-align: center;">{{ .Title }}</h2>
            <body>
                <ul><i>What I did: </i>{{.Params.Responsibilities}}</ul>
                <!--Release:-->
                <ul><i>Release: </i>{{.Params.date_released}}</ul>
                <!--Project Length-->
                <ul><i>Project Length: </i>{{.Params.proj_length}}</ul>
                <ul><i>Team Size: </i>{{.Params.team_size}}</ul>
                <ul><i>Engine and tools: </i>{{.Params.tech}}</ul>
                <ul>
                    Link: 
                    <a href="{{ .RelPermalink }}">Portfolio Page</a>
                </ul>
            </body>
        </section>
        </div>
    <hr>
    {{end}}
</section>

<section class= "post-list">
  <h1 style= "text-align: center; font-size: 175%; font-family: 'Poppins', sans-serif;">Most Recent Blog Post</h1>
    <body>
            {{ range (.Paginator 1).Pages }}
            <a href="{{ .RelPermalink }}">{{.Title}}</a>
            <br>Posted {{ .Date.Format "January 2, 2006" }}
            <span class="tags">
                in
                {{ range .Params.tags }}
                  <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </span>
            <section class="body">
                <body>{{ .Summary }}</body>
              </section>
            {{end}}
    </body>
</section>
{{ end }}