footer {
    background-color: #457b9d;
    text-align: center;
}

footer > small{
    color: #f1faee;
}

footer > p{
    color: #f1faee;
}

.icon-bar > a {
    display: inside;
    text-align: center;
    padding: 20px;
}

